.ai-image-generator {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 20px;
    gap: 30px;
}

.header {
    font-family: 'Sora';
    font-size: 70px;
    font-weight: 500;
    padding-bottom: 30px;
}

.header span {
    color: violet;
}

.img-loading {
    display: flex;
    flex-direction: column;
}

.img-loading img {
    width: 412px;
    height: 312px;
}

.search-box {
    display: flex;
    width: 700px;
    height: 65px;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    border: 1px solid wheat;
}

.search-input {
    width: 200px;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: white;

    margin-right: 35px;
}